<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eat Now!{{else}}Make Again{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Throw Away</button>
</li>
